<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 >About</h6>
            <p class="text-justify">The founder of <i >APNA CINEMA</i> is Mr. Aryan Jaiswal and Mr. Avi Srivastava .This site helps you to find the tickets for the movie shows and concert .So that you can get entertained more comfortably.</p>
          </div>
          <div class="col-xs-6 col-md-2">
            <h6 >Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#" id="foot" style="color:rgb(243, 160, 5);">Contact Us</a></li>
              <li><a href="#" id="foot"style="color:rgb(243, 160, 5);">Contribute</a></li>
              <li><a href="#" id="foot"style="color:rgb(243, 160, 5);">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12" style="display: flex; justify-content: space-between;">
            <p style="display: inline;" class="copyright-text">Copyright &copy; 2024 All Rights Reserved by 
            <a href="#" id="foot">Aryan Jaiswal & Avi Srivastava</a>.
            </p>
            
            <div style="display:inline" class="col-md-4 col-sm-6 col-xs-12">
              <a href="#" id="facebookicon" class="fa fa-2x fa-facebook"></a>
              <a href="#"id="twittericon"  class="fa fa-2x fa-twitter"></a>
              <a href="#"id="instagramicon"  class="fa fa-2x fa-instagram"></a>
              <a href="#" id="youtubeicon" class="fa fa-2x fa-youtube"></a>
            </div>
          </div>
        </div>
      </div>
  </footer>