*{
    margin: none;
    border: none;
    background-color: black;
}

.fullnavbar{
  z-index: 1100;
  width: 100% !important;
  background-color: black;
  position: fixed !important;
  top: 0 !important;
}



/*footer*/
.site-footer{
  color: rgb(233, 165, 39);
}
.container
{
  margin: 2%;
}
.fa {
  color:rgb(233, 165, 39);
  margin-right:8% ;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#twittericon:hover{
  color: #00aced;

}
#instagramicon:hover{
  color:rgb(202, 14, 139);

}
#youtubeicon:hover{
  color:rgb(255, 4, 4);

}
#facebookicon:hover{
  color:whitesmoke;

}
body{
  margin-top: 7%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}
.carousel-inner{
    width: 100%;
    height:650px;
}

.site-footer{
  position: relative;
  bottom:0;
}
.showing{
  margin-top: 10%;
    
}
.showing h1{
    margin-top: 3%;
    margin-bottom: 5%;

    color: rgb(225, 155, 25);
    text-align: center;

}

/* card css */


.card-row::after {

  clear: both;
  display: table;
}

.card-column img{
  height:100%;
  width:100%;

}
.card-column {

    background-color: black;
    text-align: center;
    align-items: center;
    width: 27%;
    height:500px;
    margin: auto;
    margin-bottom: 5%;
    padding:0;
    border: 4px;
    position: relative;
    border:4px  solid rgb(233, 165, 39);

  }
  .card-column:hover{
  box-shadow: 0 0 30px rgb(233, 165, 39);

  }
  .card-body{
    opacity:0;
    position: absolute;
    color: white;;
    height:50%;
    width:100%;
    bottom:0%;
    text-align:justify;
  }
  .card-body h5{
    text-align :center;
  }
  .card-body:hover{
    color:white;
    opacity:0.9;
    transition: 0.5s;
  }
  .bookBtn{
    font-size: 1.2rem;
    width:100%;
    border-radius: 0;
    background-color: rgb(233, 165, 39);
    color: black;
    border:none;
    padding:none;
    margin:0;
  }
  .bookBtn:hover{
    color: rgb(225, 155, 25);
    background-color: black;
    border: 2px solid rgb(225, 155, 25);
    
  }

  


 .card-column:hover{
  border:4px  solid rgb(233, 165, 39);
  cursor: pointer;

 }



 .overlay {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);

}

.overlay-content {
  position: relative;
  box-shadow: 0 0 20px rgb(233, 165, 39);
padding: 2%;
  top: 15%;
  left:17%;
  width: 70%;
  text-align: center;
  background-color: black;
  margin-top: 30px;
}
.overlay-content p{
  font-size:5vmax;
  color: rgb(233, 165, 39);
}




  /*loader */
.loader{
  display: block;
  margin: auto;
  position: relative;
  height: 15px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: rgb(231, 153, 8);
  animation: 2s prog ease-in infinite;
}

@keyframes prog {
  to  {   width: 100%;}
}
  
